@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
body{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

h1{
	font-weight: 900;
	font-size: 50px;
}

h2{
	font-weight: 900;
	font-size: 50px;	
}

h3{
	font-weight: bold;
	font-size: 30px;
}

h4{
	font-weight: bold;
	font-size: 20px;
}

p{
	font-weight: bold;
	font-size: 30px;

}

.wrapper{
	width: 960px;
	margin: 0 auto;			/*'auto' automatically makes left and right margins the same out of the remaining margin space within parent elmement*/
}

.hero-banner{
	background-color: #007FFF;
	min-height: 100vh; 					/*100% viewport height*/
	padding: 50px 20px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.hero-banner h4, 
.hero-banner h4 a{
	color: white;
	margin: 0;
}

.hero-banner h1, 
.hero-banner h1 a{               /*space between element selectors indicates nested elements*/
	color: white;
	margin: 14px 0 20px;
}

.hero-banner h3{
	color: white;
	margin: 0 0 35px;
}

a.cta, button.cta{               /*'.' indicates class of the specified element. When element is not specified, it is a div*/
	font-size: 30px;
	font-weight: bold;
	color: white;
	background: #007FFF;
	display: inline-block;		/*'a' is an inline element by default, meaning the box it occupies is the same size as the element it contains. inline-block allow size and space customization*/
	box-shadow: 0 0 0 10px rgba(0,127,255,.15);  /* adds shadow to element*/
	padding: 20px 30px;
	border-radius: 10px;
	text-decoration: none;		/* gets rid of line under hyperlink*/
	outline: none;
	border: none;
	cursor: pointer;
}

a.cta:active,               /*'active' means when element is pressed*/
button.cta:active {
	opacity: 0.7;
}

a.cta.alt{         				/* parent style class 'cta' is also applied */              
	background-color: #FFD400;
	box-shadow: 0 0 0 10px rgba(0,0,0,.15);
	color: #111111; 
}

.character1{
	background: url(img/circle-guy.png) no-repeat 0 0;  /* background: bg-image bg-repeat bg-origin (x y) */
	background-size: 100%;
	width: 363px;
	height: 344px;
	position: absolute; top: 10%; right: 10%;     /* positioned parent is hero banner*/ 
	transform: rotate(15deg);
}

.character2{
	background: url(img/ghost-guy.png) no-repeat 0 0;  
	background-size: 100%;
	width: 250px;
	height: 373px;
	position: absolute; top: 260px; right: 300px;
}

.character3{
	background: url(img/eish-guy.png) no-repeat 0 0;  
	background-size: 100%;
	width: 215px;
	height: 285px;
	position: absolute; bottom: 200px; right: 109px;
}

nav{
	height: 100px;
	background-color: white;
	box-shadow: 0 5px 8px 1px rgba(0,0,0,.2);
	position: sticky; top: 0;
	z-index: 1; 			/* layers element according to order; '1' is on top, each higher number (or no number) is increasingly underneath*/
}

nav .logo{						/*to specify specific "logo" in nav element*/
	/*display: block;*/
	width: 300px;
	height: 40px;
	position: absolute; top: 50%; left: 30px;
	margin-top: -20px;
	background: url(img/logo.png) no-repeat 0;
	background-size: 100%;
	text-indent: -999px;
}

nav ul{
	margin: 0 20px 0 0;
	padding: 0;		
	list-style-type: none;
}

nav ul li{
	margin: 35px 10px; /* half of nav height - half of text height*/

	float: right;
}

nav ul li a{
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	color: #111111;
	text-decoration: none;
	/*margin: 30px 10px;*/
}

.more-info {
	text-align: center;
}

.more-info p{
	margin: 18px 0 35px;
}

.more-info h2{
	margin: 50px 0 0 0;
}

.highlight {
	background-color: #FFADF9;
	font-weight: 900;
	color: #FF3300;
	padding: 5px 10px;
	display: inline;
}

.separator{
	width: 470px;
	height: 10px;
	background-color: #111111;
	margin: 70px auto;
}

.nb-list {
	width: 470px;
	padding: 20px 20px 0 20px;
	background-color: #EDEDED;
	list-style-type: none;
	float: left;
	margin: 0 20px 20px 0;
	position: relative;
}

.nb-list li {
	height: 70px;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 6px 20px;
	font-size: 40px;
	color: white;
	font-weight: bold;
	margin-bottom: 20px;
}


.story h3{
	font-size: 40px;
}

.nb-list li.blue { background-color: #007FFF;}
.nb-list li.gray { background-color: rgba(0,0,0,.1);}
.nb-list li.yellow { background-color: #FFD400; color: #111111;}
.nb-list li.red { background-color: #FF3300;}
.nb-list li.pink { background-color: #FFADF9;}
.nb-list li.salmon { background-color: #FA8072;}
.nb-list li.dragging {
	position: absolute;
	top: 70px;
    left: 70px;
    right: -30px;
	transform: rotate(6deg);
	box-shadow: 0 2px 14px rgba(0,0,0,.3);
}

.gang-img {
	display: block;
	margin: auto;
}



footer {
	text-align: center;
	color: rgba(0,0,0,.4);
	font-size: 20px;
	margin: 85px 0 45px;
	font-weight: bold;
}

footer a { color: rgba(0,0,0,.4); }

.popup {
	display: none;
}
